<el-col :span="24" class="header">
  <el-col :span="10" class="logo" :class="collapsed?'logo-collapse-width':'logo-width'">
    {{collapsed?'':sysName}}
  </el-col>
  <el-col :span="10">
    <!-- <div class="tools" @click.prevent="collapse">
      <i class="fa fa-align-justify"></i>
    </div> -->
  </el-col>
  <el-col :span="4" class="userinfo">
    <el-dropdown trigger="hover">
      <span class="el-dropdown-link userinfo-inner"><img :src="sysUserAvatar" /> {{sysUserName}}</span>
      <el-dropdown-menu slot="dropdown">
        <!-- <el-dropdown-item>我的消息</el-dropdown-item>
        <el-dropdown-item>设置</el-dropdown-item> -->
        <!-- <el-dropdown-item divided @click.native="logout">退出登录</el-dropdown-item> -->
        <el-dropdown-item @click.native="logout">退出登录</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </el-col>
</el-col>